<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.citygames.escapefromthecity">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/cool_dude_1_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".all_activities.FightActivity"></activity>
        <!-- MAIN ACTIVITY -->
        <activity android:name=".all_activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- SCENARIO ACTIVITY -->
        <activity android:name=".all_activities.ScenarioActivity" /> <!-- OPTION ACTIVITY -->
        <activity android:name=".all_activities.OptionActivity" /> <!-- SPINNER ACTIVITY -->
        <activity android:name=".all_activities.SpinnerActivity" /> <!-- End ACTIVITY -->
        <activity android:name=".all_activities.EndActivity" />
    </application>

</manifest>